* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 2%;
  align-items: center;
}

.left a.bars {
  text-decoration: none;
  color: rgb(27, 27, 27);
  cursor: pointer;
}

.left a.logo {
  text-decoration: none;
  background: rgb(237, 44, 44);
  color: white;
  padding: 4px 4px;
  border-radius: 4px;
  font-weight: 300;
  font-size: 15px;
}

.search-container {
  position: relative;
  width: 300px;
}

.search-container .search-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.search-container .search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}

.search-container .search-input:focus {
  outline: none;
  border-color: #5b9bd5;
}

div.right a {
  color: rgb(27, 27, 27);
  padding: 0 8px;
}

div.right a.avatar {
  border: 1px solid rgb(27, 27, 27);
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

section.content {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
}

section.content aside.menu-box {
  width: 20%;
  padding: 10px;
}

aside.menu-box ul {
  list-style: none;
}

aside.menu-box ul li {
  padding: 10px;
}

aside.menu-box ul li a {
  text-decoration: none;
  color: rgb(97, 94, 94);
}

aside.menu-box ul li a.active {
  text-decoration: none;
  color: rgb(28, 27, 27);
}

section.content div.grid-container {
  width: 80%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

div.grid-item {
  width: 282px;
  height: 262px;
  justify-items: center;
}

div.grid-img{
  background: #2b2a2a;
  width: 250px;
  height: 140px;
  margin-top: 10px;
}

.recomends_single {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
  padding: 0 15px;
}

.recomends_single img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(1, 1, 36);
}

.recomends_single_content {
  margin-left: 10px;
}

.recomends_single_content h4 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 4px;
}

.recomends_single_content p {
  font-size: 10px;
}

.recomends_single_content p:nth-child(1){
  margin-top: 5px;
}